@page
@model TNTCalculatorRazor.Pages.HelpModel
@{
    Layout = null;
}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Help</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="help-content">

        <p><strong>●公式一覧</strong></p>

        <!-- 1 -->
        <p class="help-section-title"><b>1. 必要エネルギー量</b></p>

        <p>
            必要エネルギー量＝基礎代謝量(BMR)×活動係数×ストレス係数
            (Long et al. <i>JPEN</i> :452-456, 1979)
        </p>

        <p>
            ※乳児以外の必要エネルギー量算出には<br>
            ・肥満度80%以下では標準体重<br>
            ・肥満度120%以上では調整体重＝(実測体重－標準体重)×0.25＋標準体重<br>
            を用いる。
        </p>

        <p>
            &#x2460;Harris-Benedictの式 (Hrris, Benedict. <i>Proc Natl Acad Sci USA</i>: 370-373, 1918)<br>
            男性BMR＝66.47＋(13.75×体重)＋(5.0×身長)－(6.76×年齢)<br>
            女性BMR＝655.1＋(9.56×体重)＋(1.85×身長)－(4.68×年齢)
        </p>
             
        <p>
            Harris-Benedictの式は身長151cm以上、体重25kg以上が本来の適応です。<br>
            欧米人のデータに基づいているため、日本人では全体に過大評価気味になります。<br>
            高齢男性では比較的実測値に近くなりますが、若いほど実測値との差が大きくなります。
        </p>

        <p>
            &#x2461;Ganpuleらの式 （Ganpule et al. <i>Eur J Clin Nutr</i> :1256-1261, 2007)<br>
            BMR＝(0.1238 + (0.0481×体重) + (0.0234×身長) - (0.0138×年齢) - 性別 ) × 1000 / 4.186<br>
            性別：男性=0.5473×1, 女性=0.5473×2
        </p>

        <p>
            国立健康・栄養研究所が2007年に発表した推定式です。<br>
            20～70歳代日本人（男性71名、女性66名)の測定基礎代謝量に基づくもので、<br>
            日本人成人においては推定誤差の少ない計算式とされています。<br>
            本アプリではHarris-Benedictの対象外となる身長151cm未満、体重25kg未満の成人には<br>
            この推定式を用いています。
        </p>

        <p>
            &#x2462;厚生労働省 日本人の食事摂取基準(DRI)（2010年版）<br>
            <img alt="食事摂取基準2010" src="Help/img/image10.jpg"><br>
            上表の年齢・性別基礎代謝基準値からBMRを算出します。<br>
            小児の計算も可能ですので1～17歳ではこの表の値を用いて算出します。<br>
            年齢や身長が連続変数として考慮されていないため、個々の推定誤差は大きくなります。
        </p>

        <p>
            &#x2463;乳児の必要エネルギー計算 (KPUM小児ICUマニュアル改定第7版)<br>
            TDR(total daily requirement)：必要エネルギー量<br>
            BMR(basal metabolic rate)：基礎代謝量<br>
            EEA(energy expenditure of activity)：生体活動・成長に必要なエネルギー<br>
            SDA(specific dynamic action of food)：食物摂取・代謝に必要なエネルギー
        </p>

        <p>
            BMR簡易推定式<br>
            10kg以下<br>
            男女ともBMR＝(体重－0.4)×57<br>
            10～20kg<br>
            男児BMR＝(体重＋8.6)×30.5<br>
            女児BMR＝(体重＋8.6)×30.0
        </p>

        <p>
            EEA：乳児のEEAは40kcal/kg<br>
            SDA：上記のすべてのカロリーと疾患によるエネルギー消費の和の10%<br>
            TDR＝BMR×ストレス係数＋EEA＋SDA<br>
            ＝BMR×ストレス係数＋EEA＋(BMR×ストレス係数＋EEA)×0.1
        </p>

        <!-- 2 -->
        <p class="help-section-title"><b>2. 標準体重</b></p>

        <p>
            小児：日本小児内分泌学会 性別･身長別標準体重 (計算式のH＝身長cm)<br>
            成人：BMI=22
        </p>

        <p>
            ～5歳<br>
            男＝0.00206H^2－0.1166H＋6.5273<br>
            女＝0.00249H^2－0.1858H＋9.0360
        </p>

        <p>
            6～17歳<br>
            身長140未満<br>
            男＝0.0000303882H^3－0.00571495H^2＋0.508124H－9.17791<br>
            女＝0.000127719H^3－0.0414712H^2＋4.8575H－184.492
        </p>

        <p>
            身長140～149未満<br>
            男＝－0.000085013H^3＋0.0370692H^2－4.6558H＋191.847<br>
            女＝－0.00178766H^3＋0.803922H^2－119.31H＋5885.03
        </p>

        <p>
            身長149～<br>
            男＝－0.000310205H^3＋0.151159H^2－23.6303H＋1231.04<br>
            女＝0.000956401H^3－0.462755H^2＋75.3058H－4068.31
        </p>

        <p>
            18歳～<br>
            BMI22＝(H^2)×22×0.0001
        </p>

        <!-- 3 -->
        <p class="help-section-title"><b>3. 体表面積</b></p>
        <p>DuBoisの式＝71.84×(身長^0.725)×(体重^0.425)×0.0001</p>

        <!-- 4 -->
        <p class="help-section-title"><b>4. 必要蛋白量</b></p>
        <p>
            0～1歳＝2.0×体重, 1～3歳＝1.8×体重, 4～6歳＝1.5×体重, 7～10歳＝1.2×体重<br>
            11歳～＝1.0×体重<br>
            ※肥満度80%以下では標準体重、肥満度120%以上では調整体重を使用
        </p>

        <!-- 5 -->
        <p class="help-section-title"><b>5. 必要水分量</b></p>

        <p>
            小児：Holliday-Segarの式<br>
            ～10kg＝100×体重<br>
            10～20kg＝1000＋50×(体重－10)<br>
            20kg～＝1500＋20×(体重－20)
        </p>

        <p>
            成人<br>
            18～55歳＝35×体重, 56～65歳＝30×体重, 66歳～＝25×体重<br>
            透析患者＝15×体重(ドライウェイト)
        </p>

        <p>
            ※体温37℃以上で1℃上昇ごとに150mL(体重15kg未満は10mL/kg)加算<br>
            ※透析の場合はドライウェイト・体重推移で判断<br>
            ※妊娠で妊娠前肥満度120%以上の場合は調整体重を使用
        </p>

        <!-- 6 -->
        <p class="help-section-title"><b>6. 推定CCr(mL/min)</b>：Cockcroft-Gaultの式</p>
        <p>
            推定CCr(男)＝{(140－年齢)×体重}/(72×血清クレアチニン値)<br>
            推定CCr(女)＝推定CCr(男)×0.85<br>
            ※70歳以上でCrが男性0.8以下、女性0.6以下では筋量減少を考慮してRound upが無難
        </p>

    </div>
</body>

</html>